.vibes {
  padding: 10px 0 50px;
  margin: 0 auto;
}

.vibes__wrapper {
  position: relative;
  max-width: 1440px;
  min-height: 750px;
  margin: 0 auto;
  background: url('../img/80s-vibes_page/vibes_bg.jpg') center center/cover no-repeat;
}

.vibes__wrapper:before {
  content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.25);
  z-index: 0;
}

.vibes__title {
  position: absolute;
  font-weight: 700;
  font-size: 90px;
  line-height: 80px;
  top: 335px;
  left: calc(50% - 240px);
  text-transform: uppercase;
  color: var(--white-color);
  z-index: 3;
}

@media (max-width: 1260px) {
  .vibes__wrapper {
    min-height: 534px;
  }

  .vibes__title {
    top: 227px;
  }
}

@media (max-width: 980px) {
  .vibes__wrapper {
    min-height: 402px;
  }

  .vibes__title {
    font-size: 60px;
    line-height: 72px;
    top: 166px;
    left: calc(50% - 161px);
  }
}

@media (max-width: 548px) {
  .vibes__wrapper {
    min-height: 168px;
  }

  .vibes__title {
    font-size: 30px;
    line-height: 36px;
    top: 67px;
    left: calc(50% - 81px);
  }
}

