.about {
  padding: 100px 0 50px;
}

.about__container {
  display: flow-root;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 47px;
}

.about__text {
  display: inline-block;
  max-width: 490px;
  margin-bottom: 58px;
}

.about__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  white-space: pre-line;
}

.about__item:not(:last-child) {
  margin-bottom: 25px;
}

.about__blockquote {
  overflow: hidden;
}

.about__cite {
  position: relative;
  text-transform: uppercase;
  font-size: 44px;
  padding-left: 28px;
  line-height: 50px;
  margin-bottom: 27px;
  white-space: pre-line;
}

.about__cite:before {
  content:"\201c";
  position: absolute;
  top: -10px;
  left: -1px;
  display:inlne-block;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--dark-purple-color);
}

.about__cite:after {
  content:"\201d";
  display:inline-block;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--dark-purple-color);
}

.about__autor {
  width: 389px;
  margin: auto auto;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  float: right;
}

.about__img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0px -10px;
  margin-right: 25px;
  vertical-align: bottom;
}

.about__text-block {
  max-width: 240px;
  display: inline-block;
}

.about__collage {
  float: left;
  margin-right: 80px;
}

@media (max-width: 1260px) {
.about {
  padding: 70px 0 20px 0;
}

.about__title {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 26px;
}

.about__collage {
  max-width: 420px;
  margin-right: 40px;
}

.about__blockquote {
  max-width: 444px;
} 

.about__text {
  margin-bottom: 39px;
}

.about__item {
  font-size: 18px;
  line-height: 24px;
}

.about__cite {
  max-width: 410px;
  font-size: 30px;
  padding: 0 0 0 25px;
  line-height: 36px;
  margin: 0 0 22px 0;
  white-space: normal;
}

.about__cite:before {
font-size: 30px;
line-height: 36px;
}

.about__cite:after {
  position: absolute;
  top: 72px;
  left: 255px;
  font-size: 30px;
  line-height: 36px;
}

.about__autor {
  display: flex;
  width: 330px;
  font-size: 18px;
  line-height: 26px;
}

.about__text-block {
  max-width: 225px;
}

.about__img {
  height: 70px;
  width: 70px;
  margin-right: 35px;
  margin-top: 5px;
}
}

@media (max-width: 980px) {
  .about {
    padding: 60px 0 20px 0;
  }

  .about__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .about__collage {
    max-width: 382px;
    margin-right: 28px;
  }

  .about__text {
    max-width: 278px;
    padding-top: 68px;
    margin-bottom: 109px;
  }
  
  .about__item {
    font-size: 16px;
    line-height: 22px;
    white-space: normal;
  }

  .about__blockquote {
    max-width: 688px;
  }

  .about__cite {
    max-width: 688px;
    font-size: 32px;
    line-height: 36px;
  } 

  .about__cite:before {
    font-size: 32px;
    }

  .about__cite:after {
    top: 35px;
    left: 550px;
    font-size: 32px;
  }

  .about__img {
    margin: 8px 0 0 10px;
    margin-right: 25px;
  }
  
}

@media (max-width: 767px) {
  .about__container {
    display: flex;
    flex-direction: column;
  }

  .about__text {
    order: 1;
    max-width: 688px;
    padding: 0;
    margin-bottom: 15px;
  }

  .about__collage {
    order: 2;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .about__blockquote {
    order: 3;
  }
}