.about {
    padding: 100px 0 50px;
}

.about__container {
  display: flow-root;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 47px;
}

.about__text {
  display: inline-block;
  width: 490px;
  margin-bottom: 58px;
}

.about__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    white-space: pre-line;
}

.about__item:not(:last-child) {
  margin-bottom: 25px;
}

.about__blockquote {
  overflow: hidden;
}

.about__cite {
  position: relative;
  text-transform: uppercase;
  font-size: 44px;
  padding-left: 28px;
  line-height: 50px;
  margin-bottom: 27px;
  white-space: pre-line;
}

.about__cite:before {
  content:"\201c";
  position: absolute;
  top: -10px;
  left: -1px;
  display:inlne-block;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--dark-purple-color);
}

.about__cite:after {
  content:"\201d";
  display:inline-block;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  color: var(--dark-purple-color);
}
.about__autor {
  width: 389px;
  height: 84px;
  margin: auto auto;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  float: right;
}

.about__img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0px -10px;
  margin-right: 25px;
  vertical-align: bottom;
}

.about__text-block {
  max-width: 240px;
  display: inline-block;
}

.about__collage {
  float: left;
  margin-right: 80px;
}