.about-room__wrapper {
  display: flex;
  gap: 80px;
  align-items: center;
}

.about-room__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about-room__img {
  max-width: 600px;
  height: 424px;
  object-fit: cover;
}

.about-room__list {
  max-width: 450px;
}

.about-room__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.about-room__item:not(:last-child) {
  margin-bottom: 14px;
}

@media (max-width: 1260px) {
  .about-room {
    padding: 35px 0;
  }

  .about-room__wrapper {
    gap: 30px;
  }

  .about-room__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
  }

  .about-room__img {
    max-width: 461px;
    height: 326px;
  }

  .about-room__list {
    padding-top: 3px;
    max-width: 385px;
  }

  .about-room__item {
    font-size: 18px;
  }

  .about-room__item:not(:last-child) {
    margin-bottom: 11px;
  }
}

@media (max-width: 980px) {
  .about-room {
    padding: 30px 0;
  }

  .about-room__wrapper {
    gap: 46px;
  }

  .about-room__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .about-room__img {
    max-width: 329px;
    height: 326px;
  }

  .about-room__list {
    padding-top: 0px;
    max-width: 295px;
  }

  .about-room__item {
    font-size: 16px;
  }
}

@media (max-width: 748px) {
  .about-room__wrapper {
    flex-direction: column;
    gap: 25px;
  }

  .about-room__list {
    max-width: 329px;
  }
}

@media (max-width: 548px) {
  .about-room {
    padding: 15px 0;
  }

  .about-room__wrapper {
    gap: 15px;
  }
  
  .about-room__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .about-room__img {
    max-width: 280px;
    height: 180px;
  }

  .about-room__item {
    font-size: 12px;
    line-height: 16px;
  }
}