.footer {
  padding: 50px 0;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 46px;
}

.footer__address {
  margin-bottom: 39px;
}

.footer__list {
  margin-right: 24px;
}

.footer__list-item {
  padding-left: 60px;
}

.footer__list-item:first-child {
  margin-bottom: 44px;
}
.footer__list-item:nth-child(2) {
  margin-bottom: 13px;
}

.footer__link {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  white-space: pre-line;
}

.footer__link:before {
  position: absolute;
  content: '';
  left: -60px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__link-address:before {
  background-image: url("../img/contacts/location.svg");
  margin-bottom: 39px;
  top: 14px;
}

.footer__link-phone:before {
  background-image: url("../img/contacts/phone.svg");
}

.footer__link-email:before {
  background-image: url("../img/contacts/mail.svg");
  left: -58px;
}

.social {
  display: flex;
  list-style-type: none;
}

.social__link {
  outline: 1px solid transparent;
  transition-property: color, outline-color;
  transition-duration: 0.3s, 0.2s;
  transition-timing-function: ease-in-out;
}

.social__item:not(:last-child) {
  margin-right: 26px;
}

.social__link:hover {
  color: var(--white-purple-color);
}

.social__link:focus {
  color: var(--white-purple-color);
  outline-color: var(--light-purple-color);
}

.social__link:active {
  color: var(--light-purple-color);
}

.footer__right {
  margin-bottom: 142px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer__info-autor {
  text-align: right;
}

.footer__info-autor-top {
  margin-bottom: 5px;
}

@media (max-width: 1260px) {
  .footer {
    padding: 50px 0 20px;
  }

  .footer__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .footer__list-item {
    padding-left: 40px;
  }
  
  .footer__list-item:first-child {
    margin-bottom: 44px;
  }
  .footer__list-item:nth-child(2) {
    margin-bottom: 9px;
  }

  .footer__list {
    margin-right: 58px;
  }

  .footer__link:before {
    width: 26px;
    height: 26px;
    left:-40px;
  }

  .footer__link-email:before {
    top: 0;
  }

  .footer__right {
    margin-bottom: 92px;
  }

  .footer__right-map {
    max-width: 542px;
    height: 274px;
  }

  .social__link {
    display: block;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 980px) {
  .footer__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 29px;
  }

  .footer__wrapper {
    text-align: center;
  }

  .footer__address {
    margin-bottom: 26px;
  }

  .footer__list {
    margin: 0 auto;
  }

  .footer__list-item {
    padding: 0;
  }

  .footer__list-item:not(:last-child) {
    margin-bottom: 29px;
  }

  .footer__link:before {
    left: -28px;
    top:-1px;
  }

  .footer__link {
    padding-left: 10px;
  }

  .footer__wrapper {
    flex-direction: column;
  }

  .social {
    justify-content: center;
    margin-bottom: 30px;
  }

  .footer__right {
    margin-bottom: 71px;
  }

  .footer__right-map {
    max-width: 100%;
    height: 337px;
    object-fit: cover;
  }
}

@media (max-width: 548px) {
  .footer {
    padding: 15px 0 24px;
  }

  .footer__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .footer__address {
    margin-bottom: 10px;
  }

  .footer__list-item {
    padding: 0;
    text-align: center;
  }

  .footer__list-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .footer__link {
    font-size: 14px;
    line-height: 18px;
    padding: 0;
  }

  .footer__link:before {
    width: 20px;
    height: 20px;
    left: -26px;
    top:-2px;
  }

  .social {
    margin-bottom: 35px;
  }

  .social__item:not(:last-child) {
    margin-right: 20px;
  }

  .social__link {
    width: 30px;
    height: 30px;
  }

  .footer__right {
    margin-bottom: 63px;
  }

  .footer__right-map {
    display: block;
    height: 194px;
  }

  .footer__info {
    flex-direction: column;
    width: 135px;
    margin: 0 auto;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    line-height: 16px;
  }

  .footer__info-copyright
  
  .footer__info-autor {
    text-align: center;
  }
  
  .footer__info-autor-top {
    margin-bottom: 5px;
  }

  .footer__info-autor-down {
    padding-right: 10px;
  }
}