.footer {
  padding: 50px 0;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 54px;
}

.footer__address {
  margin-bottom: 39px;
}

.footer__list-item {
margin-right: 28px;
}

.footer__list-item:before {
  content: '';
  position:relative;
  float: left;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}

.address {
  margin-bottom: 39px;
  position: relative;
}
.phone {
  margin-bottom: 14px;
}

.address:before {
  background-image: url("../img/contacts/location.svg");
  margin-top: 10px;
  margin-right: 28px;
}

.phone:before {
  background-image: url("../img/contacts/phone.svg");
  margin-right: 28px;
}

.email:before {
  background-image: url("../img/contacts/mail.svg");
  margin-right: 28px;
}

.footer__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
  white-space: pre-line;
}

.social {
  display: flex;
  list-style-type: none;
}

.social__link {
  outline: 1px solid transparent;
  transition-property: color, outline-color;
  transition-duration: 0.3s, 0.2s;
  transition-timing-function: ease-in-out;
}

.social__item:not(:last-child) {
  margin-right: 26px;
}

.social__link:hover {
  color: #EADEED;
}

.social__link:focus {
  color: #EADEED;
  outline-color: #CD06FF;
}

.social__link:active {
  color: #CD06FF;
}

.footer__right {
  margin-bottom: 156px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #FFFFFF;

}

.footer__info-autor {
  text-align: right;
}