.games {
  --cart-count: 3;
  --gap: 40px 20px;
}

.games__title {
  padding: 0 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px; 
  text-align: center;
  white-space: pre-line;
  text-transform: uppercase;
  margin-bottom: 41px;
}

.games__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap);
}

.games__figcaption {
  position: absolute;
  left: 40px;
  top: 166px;

  font-weight: 700;
  font-size: 20px;
  line-height: 28px;

  color: var(--white-color);
  white-space: pre-line;
}

.games__item {
  transition-duration: 0.6s;
  transition-property: transform;
  flex-basis: 100% / var(--cart-count) - (var(--gap) * (var(--cart-count) - 1)) / var(--cart-count);
}

.games__item:hover {
  transform: scale(1.1);
}

.games__item:nth-child(2) {
  margin-top: 70px;
}

.games__item:nth-child(2n+4) {
  margin-top: -70px;
}
