.header {
  padding: 30px 0 0;
}

.navigation__item {
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;

  text-transform: uppercase;
  white-space: nowrap;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.header__button-call {
  width: 280px;
  height: 55px;

  font-weight: 700;
  font-size: 22px;
  line-height: 30px;  
  text-transform: uppercase;
  
  color: var(--font-color);
  background: var(--background-all);
  border: 3px solid var(--highlight-color);
  border-radius: 10px;

  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.header__button-call:hover {
  background: var(--elements-bg-color);
  border: 3px solid var(--elements-bg-color);
}

.header__button-call:focus {
  background: var(--elements-bg-color);
  border: none;
  outline: none;
}

.header__button-call:active {
  background: var(--elements-status-second-color);
  border: 1px solid #000000;
}