.reserv {
  background: var( --deep-purple-color);
}

.reserv__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.reserv__form {
  margin-bottom: 40px;
}

.reserv__fieldset-hall {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 60px;
}

.reserv__legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
  }

.reserv__hall-input {
  display: none;
  }

.reserv__hall {
  display: inline-block;
  width: 250px;
  height: 55px;
  padding: 7px 15px 8px;
  cursor: pointer;
  background: var(--white-color);
  border-radius: 8px;
  user-select: none;

  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-color);
  outline: none;

  transition-property: background, border;
  transition-duration: 0.3s, 0.1s;
  transition-timing-function: ease-in-out;
  }

  .reserv__hall:hover {
  background: var(--white-purple-color);
  outline: 3px solid var(--violet-color);
  }

.reserv__hall:focus {
  background: var(--white-color);
  outline: 3px solid var(--violet-color);
  }

.reserv__hall:active {
  background: var(--dark-purple-color);
  border: 3px solid var(--white-color);
  outline: none;

  color: var(--white-color);
  }

.reserv__fieldset-game {
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 67px;
  gap: 100px;
}

.reserv__legend-game {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 24px;
  }

.reserv__fieldset-check {
  display: flex;
  flex-direction: column;
  }

.reserv__check {
  position: relative;
  display: block;
  margin-bottom: 26px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

/* Создаем кастомный radio */

.radio__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: -42px;
}

.radio__input:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 27px;
  height: 27px;
  background-color: var(--white-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  outline-color: var(--deep-purple-color);
  transition-property: outline-color, box-shadow;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in-out;
}

.radio__input:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 17px;
  height: 17px;
  background-color: var(--deep-purple-color);
  border-radius:50%;
  opacity: 0;
  background-position: center;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.radio__input:focus-visible {
  outline: none;
}

.radio__input:checked:after {
  opacity: 1;
}

.radio__input:focus:before {
  outline: 1px solid var(--light-purple-color);
  outline-offset: 3px;
}

.radio__input:hover:not(:disabled):before {
  box-shadow: 0px 0px 10px rgba(227, 0, 219, 0.792);
}

.radio__input:disabled:before {
  background-color: var(--gray-color);
}

  /* Создаем кастомный чекбокс */

  .checkbox__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: -42px;
  }

  .checkbox__input:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 27px;
    height: 27px;
    background-color: var(--white-color);
    outline-color: var(--deep-purple-color);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    transition-property: outline, box-shadow;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-in-out;
  }
  
  .checkbox__input:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    width: 20px;
    height: 10px;
    border: 3px solid var(--black-color);
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg); 
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  
  .checkbox__input:focus-visible {
    outline: none;
  }
  
  .checkbox__input:checked:after {
    opacity: 1;
  }
  
  .checkbox__input:focus:before {
    outline: 1px solid var(--light-purple-color);
    outline-offset: 3px;
  }
  
  .checkbox__input:hover:not(:disabled):before {
    box-shadow: 0px 0px 10px rgba(227, 0, 219, 0.792);
  }
  
  .checkbox__input:disabled:before {
    background-color: var(--gray-color);
  }
  /* Делаем кастомный чекбокс */

.reserv__fieldset-date {
  max-width: 980px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 40px;
  }

.reserv__setting {
  display: flex;
  padding-top: 16px;
  flex-direction: column;
  flex-basis: 300px;
  }

.reserv__date-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  gap: 10px;
  }

.reserv__input-small {
  width: 45%;
  height: 52px;
  }

.reserv__input {
  width: 100%;
  height: 52px; 
}

.reserv__input-small, 
.reserv__input {
  outline: 2px solid transparent;
  transition-property: background, outline-color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in-out;
}

.reserv__input-small:focus, 
.reserv__input:focus {
  background: var(--white-color);
  outline-color: var(--light-purple-color);
}

.reserv__name {
  display: flex;
  flex-direction: column;
  flex-basis: 280px;
  }

.reserv__contacts {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  }

.reserv__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.reserv__label:not(:last-child) {
  margin-bottom: 30px;
}

.reserv__button {
  max-width: 980px;
  margin: 0 auto;

  display: flex;
  justify-content: end;
}

.reserv__btn {
  width: 300px;
  height: 60px;

  background: var(--white-color);
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;

  color: var(--dark-purple-color);

  transition-property: background, border;
  transition-duration: 0.3s, 0.1s;
  transition-timing-function: ease-in-out;
}

.reserv__btn:hover {
  background: var(--white-purple-color);
  border: 3px solid var(--dark-purple-color);
}

.reserv__btn:focus {
  background: #FFFFFF;
  border: 3px solid var(--dark-purple-color);
}

.reserv__btn:active {
  background: var(--white-purple-color);
  border: none;
  outline: none;
}



