.reserv {
  background: var( --deep-purple-color);
  padding: 80px 0;
}

.reserv__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.reserv__fieldset-hall {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 60px;
  max-width: 1180px;
}

.reserv__legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 41px;
  }

.reserv__hall-input {
  display: none;
  }

.reserv__hall {
  display: inline-block;
  width: 250px;
  height: 55px;
  padding: 7px 15px 8px;
  cursor: pointer;
  background: var(--white-color);
  border-radius: 8px;
  user-select: none;

  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black-color);
  outline: none;

  transition-property: background, border;
  transition-duration: 0.3s, 0.1s;
  transition-timing-function: ease-in-out;
  }

  .reserv__hall:hover {
  background: var(--white-purple-color);
  outline: 3px solid var(--violet-color);
  }

.reserv__hall:focus {
  background: var(--white-color);
  outline: 3px solid var(--violet-color);
  }

.reserv__hall:active {
  background: var(--dark-purple-color);
  border: 3px solid var(--white-color);
  outline: none;

  color: var(--white-color);
  }

.reserv__fieldset-game {
  max-width: 980px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 66px;
  gap: 10px;
}

.reserv__legend-game {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 24px;
  }

.reserv__fieldset-check {
  display: flex;
  flex-direction: column;
  gap: 20px;
  }

.fieldset-middle {
  padding-left: 10px;
  margin-right: 11px;
}

.fieldset-right {
  padding-left: 10px;
  margin: 0 13px 0 8px;
}

.reserv__check {
  position: relative;
  display: block;
  padding-left: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

/* Создаем кастомный radio */

.radio__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: -42px;
}

.radio__input:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 27px;
  height: 27px;
  background-color: var(--white-color);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  outline-color: var(--deep-purple-color);
  transition-property: outline-color, box-shadow;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in-out;
}

.radio__input:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 17px;
  height: 17px;
  background-color: var(--deep-purple-color);
  border-radius:50%;
  opacity: 0;
  background-position: center;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.radio__input:focus-visible {
  outline: none;
}

.radio__input:checked:after {
  opacity: 1;
}

.radio__input:focus:before {
  outline: 1px solid var(--light-purple-color);
  outline-offset: 3px;
}

.radio__input:hover:not(:disabled):before {
  box-shadow: 0px 0px 10px rgba(227, 0, 219, 0.792);
}

.radio__input:disabled:before {
  background-color: var(--gray-color);
}

  /* Создаем кастомный чекбокс */

  .checkbox__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: -38px;
  }
  .checkbox__input:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    background-color: var(--white-color);
    outline-color: var(--deep-purple-color);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    transition-property: outline, box-shadow;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-in-out;
  }
  
  .checkbox__input:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    width: 20px;
    height: 10px;
    border: 3px solid var(--black-color);
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg); 
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
  
  .checkbox__input:focus-visible {
    outline: none;
  }
  
  .checkbox__input:checked:after {
    opacity: 1;
  }
  
  .checkbox__input:focus:before {
    outline: 1px solid var(--light-purple-color);
    outline-offset: 3px;
  }
  
  .checkbox__input:hover:not(:disabled):before {
    box-shadow: 0px 0px 10px rgba(227, 0, 219, 0.792);
  }
  
  .checkbox__input:disabled:before {
    background-color: var(--gray-color);
  }
  /* Делаем кастомный чекбокс */

.reserv__fieldset-date {
  max-width: 980px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 40px;
  }

.reserv__setting {
  display: flex;
  padding-top: 18px;
  flex-direction: column;
  flex-basis: 300px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  }

.reserv__date-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  gap: 10px;
  font-weight: 400;
  }

.reserv__name-contacts {
  display: flex;
  flex-basis: 630px;
  justify-content: space-between;
  gap: 10px;
}

.reserv__input-small {
  width: 45%;
  height: 52px;
  }

.reserv__input {
  width: 100%;
  height: 52px; 
}

.reserv__input-small, 
.reserv__input {
  outline: 2px solid transparent;
  transition-property: background, outline-color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in-out;
}

.reserv__input-small:focus, 
.reserv__input:focus {
  background: var(--white-color);
  outline-color: var(--light-purple-color);
}

.reserv__name {
  display: flex;
  flex-direction: column;
  flex-basis: 280px;
  }

.reserv__contacts {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  }

.reserv__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.reserv__label:not(:last-child) {
  margin-bottom: 22px;
}

.reserv__button {
  max-width: 980px;
  margin: 0 auto;

  display: flex;
  justify-content: end;
}

.reserv__btn {
  width: 300px;
  height: 60px;

  background: var(--white-color);
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;

  color: var(--dark-purple-color);

  transition-property: background, border;
  transition-duration: 0.3s, 0.1s;
  transition-timing-function: ease-in-out;
}

.reserv__btn:hover {
  background: var(--white-purple-color);
  border: 3px solid var(--dark-purple-color);
}

.reserv__btn:focus {
  background: var(--white-color);
  border: 3px solid var(--dark-purple-color);
}

.reserv__btn:active {
  background: var(--white-purple-color);
  border: none;
  outline: none;
}

@media (max-width: 1260px) {
  .reserv {
    background: var( --deep-purple-color);
    padding: 60px 0;
  }

  .reserv__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .reserv__fieldset-hall {
    max-width: 904px;
  }

  .reserv__legend {
    margin-bottom: 26px;
  }

  .reserv__hall {
    width: 180px;
    height: 44px;
    padding: 10px 20px;

    font-size: 20px;
    line-height: 24px;
  }

  .reserv__fieldset-game {
    max-width: 904px;
  }

  .fieldset-middle {
    padding-left: 10px;
    margin-right: 11px;
  }
  
  .fieldset-right {
    padding-left: 10px;
    margin: 0 13px 0 8px;
  }
  
  .reserv__check {
    position: relative;
    display: block;
    padding-left: 40px;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
  }

  .fieldset-left {
    padding-top: 3px;
  }

  .fieldset-middle {
    padding-left: 21px;
    margin-right: 10px;
  }

  .fieldset-right {
    padding-left: 13px;
    margin: 0 67px 0 8px;
  }

  .reserv__fieldset-date {
    max-width: 904px;
    margin-bottom: 48px;
  }

  .reserv__setting {
    height: 161px;
    padding-top: 19px;
  }

  .reserv__name-contacts {
    flex-basis: 554px;
  }
  
  .reserv__name {
    flex-basis: 251px;
  }

  .reserv__contacts {
    flex-basis: 254px;
  }

  .reserv__label:not(:last-child) {
    margin-bottom: 20px;
    padding-top: 2px;
  }

  .reserv__button {
    max-width: 903px;
  }

  .reserv__btn {
    width: 254px;
    height: 50px;

    border-radius: 8px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 980px) {
  .reserv {
    padding: 48px 0;
  }

  .reserv__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
  }

  .reserv__fieldset-hall {
    max-width: 688px;
    margin-bottom: 50px;
  }

  .reserv__legend {
    margin-bottom: 30px;
  }

  .reserv__hall {
    max-width: 150px;
    height: 38px;
    padding: 10px 20px;

    font-size: 16px;
    line-height: 20px;
  }

  .reserv__fieldset-game {
    max-width: 688px;
    min-height: 513px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .reserv__fieldset-check {
    padding: 0;
    gap: 20px;
  }

  .fieldset-middle {
    margin: 0 106px 20px 0;
  }

  .fieldset-right {
    margin: 0;
  }
  .radio__input:before {
    width: 40px;
    height: 40px;
    top: -9px;
    left: -18px;
  }

  .checkbox__input:before {
    width: 40px;
    height: 40px;
    top: -9px;
    left: -21px;
  }

  .radio__input:after {
    top: 1px;
    left: -8px;
    width: 20px;
    height: 20px;
  }

  .checkbox__input:after {
    top: -2px;
    left: -12px;
    width: 25px;
    height: 15px;
  }

  .reserv__check {
    display: inline-block;
    padding: 8px 0 7px 60px;
  }

  .reserv__fieldset-date {
    max-width: 688px;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .reserv__setting {
    height: 52px;
    flex-direction: row;
    flex-basis: 0;
    justify-content: space-between;
    padding: 0;
    gap: 14px;
    margin-bottom: 24px;

  }
  .reserv__name-contacts {
    width: 100%;
    flex-basis: 0;
    padding-top: 6px;
  }

  .reserv__date-time {
    flex-basis: 280px;
    gap: 14px;
  }

  .reserv__name-contacts {
    gap:14px;
  }

  .reserv__name {
    flex-basis: 280px;
    height: 148px;
  }

  .reserv__contacts {
    flex-basis: 300px;
    height: 148px;
  }

  .reserv__input-small {
    width: 47.5%;
  }

  .reserv__input {
    max-width: 300px;
  }

  .reserv__name {
    width: 100%;
  }

  .reserv__btn {
    width: 300px;
    height: 60px;
    padding: 16px 50px;

    border-radius: 10px;
    font-size: 22px;
    line-height: 28px;
  }

}

@media (max-width: 748px) {
  .reserv__fieldset-hall {
    margin: 0 auto 50px;
    max-width: 420px;
    align-items: center;
  }

  .fieldset-middle {
    margin-right: 0;
  }

  .reserv__date-time {
    width: 240px;
    gap: 14px;
  }

  .reserv__btn {
    width: 248px;
    height: 50px;
    padding: 16px 50px;

    border-radius: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 633px) {
  .reserv {
    padding: 30px 0;
  }

  .reserv__title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 13px;
  }

  .reserv__fieldset-hall {
    max-width: 280px;
    margin-bottom: 30px;
    gap: 14px;
  }

  .reserv__legend {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  } 

  .reserv__hall { 
    width: 130px;
    height: 30px;
    padding: 6px 20px;
    border-radius: 4px;

    font-size: 14px;
    line-height: 18px;
  }

  .reserv__fieldset-game {
    flex-direction: column;
    gap: 25px;
  }

  .reserv__legend-game {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }
}