.reserv {
  background: #440F51;
}

.reserv__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.reserv__form {
  margin-bottom: 40px;
}

.reserv__fieldset-hall {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 60px;
}

.reserv__legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #FFFFFF;
  margin-bottom: 40px;
  }

.reserv__hall-input {
  display: none;
  }

.reserv__hall {
  display: inline-block;
  width: 250px;
  height: 55px;
  padding: 7px 15px 8px;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 8px;
  user-select: none;

  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  }

  .reserv__hall:hover {
  background: #EADEED;
  border: 3px solid #640AA3;
  }

.reserv__hall:focus {
  background: #FFFFFF;
  border: 3px solid #640AA3;
  }

.reserv__hall:active {
  background: #6C0287;
  border: 3px solid #FFFFFF;
  outline: none;

  color: #FFFFFF;
  }



.reserv__fieldset-game {
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 67px;
  gap: 100px;
}

.reserv__legend-game {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #FFFFFF;
  margin-bottom: 24px;
  }

.reserv__fieldset-check {
  display: flex;
  flex-direction: column;
  }
  
.reserv__game {
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  
  color: #FFFFFF;
  }

.reserv__game:not(:last-child) {
  margin-bottom: 22px;
}

.reserv__game-radio,
.reserv__game-checkbox {
  margin-right: 12px;
  transform: scale(2);         /* FF 16+, IE 10+ */
    -webkit-transform: scale(2); /* Chrome, Safari 3.5+, Opera 15+ */

    -ms-transform: scale(2);     /* legacy: IE 9+ */
    -moz-transform: scale(2);    /* legacy: FF 3.5+ */
    -o-transform: scale(2);      /* legacy: Opera 10.5 */
  }

  .reserv__game-radio,
  .reserv__game-checkbox:focus {
    outline: 1px solid #CD06FF;
  }

.reserv__fieldset-date {
  max-width: 980px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 40px;
  }

.reserv__setting {
  display: flex;
  padding-top: 16px;
  flex-direction: column;
  flex-basis: 300px;
  }

.reserv__date-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  gap: 10px;
  }

.reserv__input-small {
  width: 45%;
  height: 52px;
  }

.reserv__input {
  width: 100%;
  height: 52px; 
}

.reserv__input-small, 
.reserv__input {
  outline: 2px solid transparent;
  transition-property: color, outline-color;
  transition-duration: 0.3s, 0.2s;
  transition-timing-function: ease-in-out;
}

.reserv__input-small:focus, 
.reserv__input:focus {
  background: #FFFFFF;
  outline-color: #CD06FF;
}

.reserv__name {
  display: flex;
  flex-direction: column;
  flex-basis: 280px;
  }

.reserv__contacts {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  }

.reserv__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.reserv__label:not(:last-child) {
  margin-bottom: 30px;
}

.reserv__button {
  max-width: 980px;
  margin: 0 auto;

  display: flex;
  justify-content: end;
}

.reserv__btn {
  width: 300px;
  height: 60px;

  background: #FFFFFF;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;

  color: #6C0287;
}

.reserv__btn:hover {
  background: #EADEED;
  border: 3px solid #6C0287;
}

.reserv__btn:focus {
  background: #FFFFFF;
  outline: 3px solid #6C0287;
}

.reserv__btn:active {
  background: #EADEED;
  border: none;
  outline: none;
}



