.reviews__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 43px;
}

.reviews__list {
  max-width: 980px;
  margin: 0 auto;
}

.reviews__item:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  margin-bottom: 4px;
  }

.reviews__img-oksana {
  object-position: 0 -40px;
  }

.reviews__img-nikita {
  object-position: 0 -84px;
}

.reviews__figure {
  display: inline-block;
  max-width: 280px;
  margin-right: 15px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
}

.reviews__text {
  display: inline-block;
  max-width: 680px;
  padding-top: 54px;
  vertical-align: top;
  font-size: 20px;
  line-height: 28px;
}

.img-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 280px;
  height: 280px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
  border-radius: 50%;
}

@media (max-width: 1260px) {
  .reviews {
    padding: 50px 0 20px 0;
  }

  .reviews__list {
    max-width: 751px;
    margin: 0 auto;
    padding-left: 21px;
  }

  .reviews__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 24px;
  }

  .reviews__item:not(:last-child) {
    margin-bottom: 38px;
  }

  .reviews__img {
    width: 172px;
    height: 172px;
    margin-bottom: 15px;
    }

  .reviews__img-oksana {
    object-position: 0 -24px;
    }
  
  .reviews__img-nikita {
    object-position: 0 -50px;
  }

  .img-wrapper:after {
    width: 172px;
    height: 172px;
  }

  .reviews__figure {
    max-width: 172px;
    margin-right: 38px;
    font-size: 18px;
    line-height: 26px;
  }

  .reviews__text {
    max-width: 515px;
    padding-top: 34px;
    font-size: 18px;
    line-height: 26px;
  }
}

  @media (max-width: 980px) {
  .reviews {
    padding: 40px 0 20px 0;
  }

  .reviews__list {
    max-width: 688px;
    padding-left: 62px;
  }

  .reviews__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 31px;
  }

  .reviews__item:not(:last-child) {
    margin-bottom: 28px;
  }

  .reviews__img {
    width: 153px;
    height: 153px;
    margin-bottom: 13px;
    }

    .reviews__img-oksana {
      object-position: 0 -22px;
      }
    
    .reviews__img-nikita {
      object-position: 0 -44px;
    }

  .img-wrapper:after {
    width: 153px;
    height: 153px;
  }

  .reviews__figure {
    max-width: 153px;
    font-size: 14px;
    line-height: 20px;
    margin-right: 12px;
  }

  .reviews__text {
    max-width: 393px;
    font-size: 16px;
    line-height: 22px;
  } 
}

@media (max-width: 748px) {
  .reviews__list {
    padding: 0;
  }

  .reviews__img {
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
    } 

  .img-wrapper:after {
    width: 140px;
    height: 140px;
  }

  .reviews__text {
    max-width: 350px;
    font-size: 15px;
    line-height: 18px;
  } 

}