:root {
  --background-all: #1a1b1b;
  --font-color:#ffffff;
  --font-color-dark: #000000;
  --main-color: #440F51;
  --highlight-color: #CD06FF;
  --social-color: #EADEED;
  --elements-bg-color: #6C0287;
  --elements-status-first-color: #840AA3;
  --elements-status-second-color: #640AA3;
  --light-bg-color: #ffffff;
  --questions-first-color: #1C1A1A;
  --disabled-color: #cccccc;
}